# upgrade pip to latest version

# conda and its deps (order matters)
auxlib
ruamel.yaml
requests
downloads\pycosat-0.6.3-cp37-cp37m-win_amd64.whl
downloads\cytoolz-0.9.0.1-cp37-cp37m-win_amd64.whl
# can't install conda until all the deps are installed (order matters)
conda==4.2.7 # latest version has problems

# your package
